body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.container{
    width: 1110px;
    margin: 0 auto;
}


.header{
    padding-top: 60px;
}


h1, h2, h3{
    margin: 0;
    font-weight: 700;
    line-height: 1.4em; 

}

p{
    margin: 0;
    line-height: 1.37em;
}

h1 {
    font-size: 50px;
}


h2{
    font-size: 40px;
    text-align: center;

}


section{
    padding-top: 120px;
}



.introtext {
    font-size: 18px;
    margin: 30px 0px;
}

.btn {
    background: #000000;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 225px;
    transition: all 0.5s easy;
}


.btn:hover{
    background: #232323;
}


.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
}

.offer{
    width: 465px;

}

.logo{
    display: block;
    margin: 0 auto;

}

.digite{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 77px;
    height: 77px;
    margin-right: 34px;
    transition: all 0.5s easy;
}

.digite-item:hover .digite{
    background: #000;
    color: white;
}


.digite-item{
    display: flex; 
    align-items: center;
	margin: 41px 0px;

}

.digite-title{
    font-size: 30px;
    margin-bottom: 11px;

}

.digits{
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 70px auto 0 auto;
	
}

.practice-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(102deg, #E8FFE8 17.38%, #D1F0FF 81.25%);
    border-radius: 60px;
    padding: 93px 168px 89px 122px;
}

.practice-block{
    width: 432px;
}

.practice-title{
    text-align: left;
}

.practice-text{
    margin: 24px 0;
    width: 371px;
}

.ball{
    margin-right: 101px;
}


.footer{
    padding: 120px 0;
    text-align: center;
    font-size: 15px;

}








