* {
    box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
   
}

h1, h2, h3{
    margin: 0;
}

.container{
    width: 1110px;
    margin: 0px;
}

.header{
    padding-top: 60px;
    background-color: blue; 
}

.nav{
	width: 100%
	height: 80px;
	display: flex;
	align-items: center;
}

.logo{
	margin-right: 60px;
    display: block;
}

.logo li{
	margin-right: 60px;
}

.fb{
	width: 24px;
}

.offer-wrapper{
    display: flex;
    align-items: end;
    margin-top: 0px;
}
.offer{
	width: 312px;
	margin-left: 60px;
}

.btn {
    background: #000000;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 11px 35px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 144px;
    transition: all 0.5s easy;
}

.btn:hover{
    background: grey;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    flex: 2;
}

aside {
  flex: 1;
}

h1, h1, h3, h4{
	margin: 0px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.introtext{
	display: flex;
    align-items: center;
    justify-content: center;
}

.watch{
	height: 190px;
}

.digit {
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    width: 54px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34px;
    transition: all 0.5s ease;
}

.digit-item:hover .digit {
    background: #000;
    color: #fff
}

.digit-title {
    font-size: 20px;
    margin-bottom: 11px;
}

.digits {
    margin-top: 30px;
    display: flex;
    width: 690px;
}

.gallery {
  	display: flex;
  	flex-wrap: wrap;
}
 
.gallery img {
  cursor: pointer;
}


/* Enable vertical scrolling for <article> and <aside> when content exceeds the container height */
article, aside {
    overflow-y: auto;
}
